---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    display: flex;
    gap:var(--card-gap);
    overflow-x: auto;
    /*margin: auto;*/
    margin-top: 2rem;
    grid-column: full;
    padding-inline: max(1rem, 50% - var(--content-width)/2);
  }

  li{
    font-family:var(--font-family);
    background:var(--card-background);
    padding:var(--card-padding);
    border-radius:var(--card-border-radius);
    /*text-color:var(--card-text-color); /* virker ikke */
    flex-shrink: 0;
    flex-basis: 65%;


    /*scroll-snap-align: center;*/
    /*scroll-snap-align: always;*/
  }

  h3{
    margin-block:var(--margin-block);
    line-height:var(--line-height);
    /*color:var(--color);
    font-weight:var(--font-weight);
    font-size:var(--font-size);*/

  }


</style>
